*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(241, 237, 231);
    overflow: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.nav-left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}
.nav-left img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
}
.nav-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.form-group{
    display: flex;
    border-radius: 30px;
    width: 510px;
    border: 1px solid gray;
    background-color: white;
}
.nav-center input{
    border: 1px solid white;
    display: flex;
    font-size: 20px;
    border-radius: 30px;
    width: 400px;
    height: 20px;
    padding: 10px;
}
.nav-center button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 170, 170);
    width: 90px;
    height: 16px;
    padding: 20px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 30px;
}
.vioce{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 201, 201);
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.nav-Right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.nav-Right img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

header{
    display: flex;
    flex-direction: row;
    flex: 9;
}
section{
    display: flex;
    flex: 1.9;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    background-color: whitesmoke;
    overflow-y: scroll;
}
.icon-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 5px;
    border-bottom: 0.1px solid rgb(169, 169, 169);
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}
span{
    padding-left: 10px;
}
.icon{
    display: flex;
    flex-direction: column;
}
h4{
    padding-left: 20px;
    padding-top: 10px;
}
.icon-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-bottom: 0.1px solid rgb(169, 169, 169);
}
.icon-botton{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-bottom: 0.1px solid rgb(169, 169, 169);
}
.like-text{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-bottom: 0.1px solid rgb(169, 169, 169);;
}
.img-text{
    height: 10vh;
    display: flex;
    justify-content: center;
}
.like-text h4{
    font-size: 14px;
}
.like-text img{
    width: 30px;
    height: 30px;
    padding-left: 19px;
    display: flex;
}
h3{
    font-size: 15px;
    padding-left: 20px;
    margin: 20px 0px;
}
.icon-text{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 50%;
    justify-content: center;
    border-bottom: 0.1px solid rgb(169, 169, 169);
}
main{
    display: flex;
    flex-direction: column;
    flex: 8;
    height: 82vh;

}
.section-conter{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botton{
    border: 1px solid rgb(212, 186, 186);
    width: 60px;
    height: 30px;
    margin: 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 10px;
    gap: 10px;
    overflow-y: scroll;
}
.main-text{
    display: flex;
    margin: 10px;
}
.main-video iframe{
    
    border-radius: 10px;
}
.main-text img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.main-text-post{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.h5 ul li{
    text-decoration: none;
    list-style-type: none;
}
